  <div>
  <label>Name:</label>
  <input type="text" id="carpart_detailname0" name="carpart[detailname0]">
  <label>Description:</label>
  <input type="text" id="carpart_detail0" name="carpart[detail0]">
  </div>
