<label>Select part</label>
<% if @foundparts.present? %>
 <%= select_tag 'part', options_for_select(@foundparts, 'name'), prompt: "Choose model", disabled: false %>
<% else %>
 <%= select_tag "part", "<option>Not found</option>".html_safe, disabled: true %>
<% end %>
