<label>Select model</label>
<% if @models.present? %>
  <%= select_tag 'model', options_for_select(@models, 'model'), prompt: "Choose model", disabled: false  %>
<% else %>
  <%= select_tag "model", "<option>Not found</option>".html_safe, disabled: true %>
<% end %>
