    <div class='row'>
      <%= content_tag :h4, "#{@car.make}", class: "col-md-12"%>
      <%= content_tag :h4, "#{@car.model}", class: "col-md-12"%>
      <%= image_tag url_for(:controller => "photos", :action => "show_car", :car_id=>@car.id), class: "col-md-3 img-thumbnail"%>
    </div>
